@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* mailchimp */
#mc_embed_signup {
    background: #fafafa;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 320px;
    border: 2px solid #2ec950;
}

#mc_embed_signup h2,
#mc_embed_signup input{
    color: #1e2125;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafafa;
    font-weight: 600;
}

a {
    color: #fafafa;
    text-decoration: none;
}

body {
    background-color: #1e2125;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

header {
    background: rgb(159, 106, 23);
    background: linear-gradient(72deg, rgba(30, 33, 37, 0.22872899159663862) 29%, rgba(40, 201, 80, 0.4) 58%, rgba(4, 3, 27, 0.2679446778711485) 100%);
    /* display: inline-block; */
    padding-bottom: 3rem;
    box-shadow: 5px 5px 10px #2ecc4b4b;
    /* filter: drop-shadow(5px 5px 10px #2ECC4C); */
}

/* navbar */
#nav-1 {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
}

.brand-1 a {
    font-size: 1.5rem;
    padding: .5rem;
    font-weight: 300;
}

.brand-1 {
    font-size: 1.5rem;
    padding: .5rem;
    margin-left: 2rem;
    font-weight: 300;
}

#brand-2 {
    font-weight: 900;
    color: goldenrod;
}

.nav-links-1 {
    height: 100%;
}

.nav-links-1 ul {
    display: flex;
    margin: 0;
    padding-right: 0;
    margin-right: 0;
}

.nav-links-1 li {
    list-style: none;
}

.nav-links-1 li a {
    display: block;
    text-decoration: none;
    color: #fafafa;
    padding: 1rem 1rem;
    font-weight: 400;
}

.nav-links-1 li:hover {
    background-color: rgba(2, 15, 5, 0.179);
    border-radius: 10%;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 10px;
}


/* hero section */

#hero {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";

}

#hero h1 {
    font-size: 2.7rem;
}

#hero p {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 2rem;
    line-height: 140%;
}

#hero-text {
    margin-top: 40px;
    padding: 4rem;
}

#hero img {
    opacity: 0.7;
    margin: 0;
    vertical-align: bottom;
    width: 90%;
    margin-top: 5rem;
    /* border: 2px dotted #2ec950; */
    display: none;
}

/* hero-button */
.button-52 {
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-52 a {
    font-weight: 600;
}

.button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

/* information section and cards */
#information-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    padding: 10rem 0 5rem 0;
}

#card-1 {
    grid-area: 1/2/2/4;
}

#card-2 {
    grid-area: 2/1/3/3;
}

#card-3 {
    grid-area: 3/2/4/4;
}

.info-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-image-1 {
    grid-area: 1/1/2/2;
}

#info-image-2 {
    grid-area: 2/3/3/4;
}

#info-image-3 {
    grid-area: 3/1/4/2;
}

.info-image {
    width: 70%;
}

.info-card {
    border: 3px solid #fafafa;
    border-radius: 10px;
    padding: 2rem;
    margin: 3rem;
    line-height: 150%;
}

.info-card h1 {
    padding-bottom: 1rem;
    color: #2ec950;
    font-weight: 400;
}

.info-card p {
    font-weight: 300;
    letter-spacing: 0.07rem;
}

#mailing label,
div {
    color: black;
}

#mailing {
    padding: 5rem;
    padding-top: 0;
    background-color: #fafafa;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#contact-description {
    background-color: #fafafa;
    color: black;
    text-align: center;
    padding: 5rem 2rem 3rem 2rem;
}

#contact-description h2,
#contact-description p {
    color: black;
    padding: 0 7rem;
    text-align: center;
}

#contact-description p {
    font-weight: 300;
    padding-top: 2rem;
    font-size: 2rem;
    line-height: 150%;
}

#signup-elements {
    width: 50vw;
}

/* dancing arrow */
.down-arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    color: #2ec950;
}

.down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

.dancing-arrow {
    width: 100vw;
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }
}

.down-arrow {
    animation: jumpInfinite 1.5s infinite;
}

/* media queries - some overlap between them. could probably do without one of them by the time the design finalized. plan to organize later */
@media (max-width: 941px) {

    #nav-logo-text {
        display: none;
    }

    #hero-image {
        display: none;
    }

    #hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #hero-text {
        width: 100vw;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}


@media (max-width: 700px) {
    #nav-1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links-1 {
        display: none;
        width: 100%;
    }


    .nav-links-1 ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links-1 ul li {
        text-align: center;
    }

    .nav-links-1 ul li a {
        padding: .5rem 1rem;
    }

    .nav-links-1.active {
        display: flex;
    }

    .nav-links-1 li {
        background-color: rgba(199, 215, 25, 0.101);
        border-radius: 10%;
    }

    #contact-description p {
        font-size: calc(1rem + 1vw);
        padding: 5rem 0.2rem 3rem 0.2rem;
    }

    .info-card {
        font-size: 0.9rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }
}

@media (max-width: 500px) {
    #contact-description p {
        font-size: calc(1rem + 1vw);
        padding: 5rem 0.2rem 3rem 0.2rem;
    }

    #contact-description {
        padding: 2rem auto;
    }

    .info-card {
        font-size: 0.9rem;
        padding: 0.5rem;
        margin: 2rem 1;
        line-height: 1rem;
    }

    #information-container {
        padding-top: 2rem;
    }

    .dancing-arrow {
        display: none;
    }

    #contact-description h2 {
        padding: 0.5rem;
    }

    #contact-description p {
        padding-top: 1rem;
    }

    #hero-text {
        padding: 2rem;
    }
}