<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to The Junior Tech Society</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <header>
        <div id="nav-1">
            <div class="brand-1">
                <a id="brand-2" href="#">JTS</a>
                <a id="nav-logo-text" href="#">Junior Tech Society</a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="nav-links-1">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#mc_embed_signup">Signup</a></li>
                    <li><a href="#">Events</a></li>

                </ul>
            </div>
        </div>
        <section id="hero">
            <div id="hero-text">
                <h1>Working together... <span>works.</span></h1>
                <p>Introducing The Junior Tech Society. A monthly open source project designed to bridge the gap between
                    graduation and employment for web developers.</p>
                <a class="button-52" href="#mc_embed_signup">Join us now</a>
            </div>
            <div id="hero-image">
                <img src="{% static 'assets/images/hero-bg.png' %}">
            </div>
        </section>
    </header>




    {% block content %}

    {% endblock %}

    <script src="{% static 'assets/js/navbars.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>