<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <header>
        <div id="nav-1">
            <div class="brand-1">
                <a id="brand-2" href="#">JTS</a>
                <a href="#">Junior Tech Society</a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="nav-links-1">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Signup</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

    </header>

    {% block content %}

    {% endblock %}

    <script src="{% static 'assets/js/navbars.js' %}"></script>
</body>

</html>