<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to The Junior Tech Society</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <header>
        <div id="nav-1">
            <div class="brand-1">
                <a id="brand-2" href="#">JTS</a>
                <a href="#">Junior Tech Society</a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="nav-links-1">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Signup</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <section id="hero">
            <div id="hero-text">
                <h1>Working together... works.</h1>
                <p>Introducing The Junior Tech Society. A monthly open source project designed to bridge the gap between
                    graduation and employment for web developers.</p>
                <a class="button-52" href="#">Join us now</a>
            </div>
            <div id="hero-image">
                <img src="{% static 'assets/images/hero-bg.png' %}">
            </div>
        </section>
    </header>


    {% block content %}

    {% endblock %}

    <script src="{% static 'assets/js/navbars.js' %}"></script>
</body>

</html>