{% extends "base.html" %}
{% load static %}
jlkjlkjlk
{% block content %}
<section class="dancing-arrow">
    <div class="down-arrow"></div>
</section>

<section id="information-container">

    <div id="card-1" class="info-card" data-aos="slide-up">
        <h1>Network</h1>
        <p>Building a network is an important part of joining any industry. Here at JTS we aim to put graduates in touch
            with a network of like minded developers.</p>
    </div>

    <div id="card-2" class="info-card" data-aos="slide-up">
        <h1>Experience</h1>
        <p>Companies are taking a risk when hiring junior developers. Help them to mitigate that risk by having a
            portfolio of projects that have been built by a team.</p>
    </div>

    <div id="card-3" class="info-card" data-aos="slide-up">
        <h1>Accountability</h1>
        <p>When working alone, it can be easy to take the path of least resistance. Learn more and stay honest by
            building collaboratively. Gain exposure to new technologies.</p>
    </div>

    <div id="info-image-1" class="info-image-container" data-aos="slide-up">
        <img class="info-image" src="{% static 'assets/images/networking.png' %}"> </div>

    <div id="info-image-2" class="info-image-container" data-aos="slide-up">
        <img class="info-image" src="{% static 'assets/images/user-experience.png' %}"> </div>

    <div id="info-image-3" class="info-image-container" data-aos="slide-up">
        <img class="info-image" src="{% static 'assets/images/list.png' %}"> </div>

</section>

<section id="contact-description">
    <div class="signup-elements">
        <h2>STAY IN TOUCH</h2>
    </div>
    <div class="signup-elements">
        <p>We intend to be running a project every month. Registration is open to those who have completed their
            degree/bootcamp. Self-taught developers are welcome provided that they are able to produce full-stack web
            applications.</p>
    </div>

</section>

<section id="mailing">
    <div class="signup-form">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                background: #fafafa;
                clear: left;
                font: 14px Helvetica, Arial, sans-serif;
                width: 320px;
                border: 2px solid #2ec950;
            }

            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup" data-aos="slide-up">
            <form
                action="https://herokuapp.us13.list-manage.com/subscribe/post?u=87f530635c335ffe0d13cd445&amp;id=446d997510&amp;f_id=0086e5e2f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2>Subscribe</h2>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-FNAME">First Name </label>
                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                        <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-LNAME">Last Name </label>
                        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                        <span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_87f530635c335ffe0d13cd445_446d997510" tabindex="-1" value=""></div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                class="button">

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
            (function ($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = 'EMAIL';
                ftypes[0] = 'email';
                fnames[1] = 'FNAME';
                ftypes[1] = 'text';
                fnames[2] = 'LNAME';
                ftypes[2] = 'text';
                fnames[3] = 'ADDRESS';
                ftypes[3] = 'address';
                fnames[4] = 'PHONE';
                ftypes[4] = 'phone';
                fnames[5] = 'BIRTHDAY';
                ftypes[5] = 'birthday';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->
    </div>
</section>
{% endblock content %}